/* page layout */

.kyselo-content {
	margin: 0 auto;
	width: 600px;
	margin-top: 40px;
}

.kyselo-message {
	background-color: #ccc;
	padding: 0.3em;
	margin-bottom: 0.6em;
}

.kyselo-message-success {
	background-color: #4eb255;
}

.kyselo-message-error {
	background-color: #f1932d;
}

/* float */

.kyselo-float {
	position: fixed;
	left: 40px;
	bottom: 40px;
}

.kyselo-float .pure-button {
	margin-right: 0.3em;
	background-color: #444;
	color: #ccc;
}

.kyselo-float .kyselo-switch:hover, .kyselo-float .kyselo-switch.on {
	color: green;
}

.kyselo-float .kyselo-switch.on:hover {
	color: red;
}

.kyselo-float #post_types {
	display: none;
	margin-left: 3em;
}

/* main menu */

.kyselo-dark, .kyselo-dark .pure-menu-children {
    background-color: #444;
}

.kyselo-dark .pure-menu-link {
	color: #ccc;
}

.kyselo-dark .pure-menu-link:hover {
	background-color: #ccc;
	color: #444;
}

/* forms */

.kyselo-form-error {
	color: red;

}

/* medium editor (ugly hacky) */

.pure-form-aligned textarea.medium-editor-hidden {
	display: none;
}

.pure-form-aligned .medium-editor-element { 
	margin-left: 11em;
	padding: 0.3em;
	border: 1px dotted #ccc;
	position: relative;
	top: -1em;
}

div.kyselo-editor.invalid {
	border: 1px dashed red;
	color: red;
}

/* tabs*/
.kyselo-tabs {
	margin-top: 15px;
}

.kyselo-tabs a {
	display: inline-block;
	border: 1px solid #ccc;
	border-bottom: none;
}

/* cenzura NSFW obrázků */
.kyselo-hide-nsfw .is-nsfw img {
	background-color: lightgrey;
	filter: blur(10px) sepia(1) opacity(0.3);
	-webkit-filter: blur(10px) sepia(1) opacity(0.3);
}

/* TODO: ještě pro IE */

/* NSFW switch */
#kyselo_nsfw_switch .show {
	color: yellow;
}

#kyselo_nsfw_switch .hide {
	color: #ccc;
}

.kyselo-hide-nsfw #kyselo_nsfw_switch .hide {
	color: yellow;
}

.kyselo-hide-nsfw #kyselo_nsfw_switch .show {
	color: #ccc;
}

/* various */
.kyselo-hidden {
		display: none;
}

.kyselo-big-profile {
	padding: 4px;
	box-sizing: border-box;
}

hr {
	border: none;
	border-bottom: 2px solid #ccc;
}

blockquote {
    border-left: 3px solid #ccc;
    -webkit-margin-start: 0;
	margin-left: 0;
    padding-left: 1em;
}

.kyselo-content img {
	max-width: 100%;
}

.kyselo-play-video {
	text-align: center;
	font-size: 6em;
	color: green;
}

.kyselo-play-video:hover {
	color: red;
}

