html, body {
	min-height: 100vh;
}

/* page layout */

.kyselo-content {
	margin: 0 auto;
	width: 600px;
	margin-top: 40px;
}

.kyselo-message {
	background-color: #ccc;
	padding: 0.3em;
	margin-bottom: 0.6em;
}

.kyselo-message-success {
	background-color: #4eb255;
}

.kyselo-message-error {
	background-color: #f1932d;
}

/* float */

.kyselo-float {
	position: fixed;
	left: 40px;
	bottom: 40px;
}



.kyselo-float .kyselo-switch:hover, .kyselo-float .kyselo-switch.on {
	color: green;
}

.kyselo-float .kyselo-switch.on:hover {
	color: red;
}

.kyselo-float #post_types {
	display: none;
	margin-left: 3em;
}

@media (max-width: 768px) {
	.kyselo-float {
		position: fixed;
		left: 5px;
		bottom: 5px;
		background-color: #f5f5f5;
	}

	.kyselo-float #post_types {
		margin-left: 5px;
	}

	.kyselo-float .button.is-medium {
		font-size: 1rem;
	}
}

/* main menu */

.kyselo-dark, .kyselo-dark .pure-menu-children {
    background-color: #444;
}

.kyselo-dark .pure-menu-link {
	color: #ccc;
}

.kyselo-dark .pure-menu-link:hover {
	background-color: #ccc;
	color: #444;
}

/* forms */

.kyselo-form-error {
	color: red;

}

/* medium editor (ugly hacky) */

.pure-form-aligned textarea.medium-editor-hidden {
	display: none;
}

.pure-form-aligned .medium-editor-element {
	margin-left: 11em;
	padding: 0.3em;
	border: 1px dotted #ccc;
	position: relative;
	top: -1em;
}

div.kyselo-editor.invalid {
	border: 1px dashed red;
	color: red;
}

.kyselo-editor ol li {
	display: list-item;
	list-style-position: inside;
}

.kyselo-editor ul li {
	display: list-item;
	list-style-type: disc;
	list-style-position: inside;
}

/* tabs*/
ul.kyselo-tabs {
    list-style: none;
    padding: 0;
	margin: 0;
}

ul.kyselo-tabs li {
    display: inline-block;
	border: 1px solid #bbb;
	border-bottom-width: 0;
	margin: 0;
	padding: 4px;
}

ul.kyselo-tabs li.active {
	position: relative;
	top: 2px;
	border-bottom: 2px solid white;
}

ul.kyselo-tabs li a {
	padding: 0 10px;
	color: black;
	text-decoration: none;
}

hr.kyselo-tabs-base {
	margin-top: 0;
}


/* cenzura NSFW obrázků */
.kyselo-hide-nsfw .is-nsfw .kyselo-post-body img, .kyselo-hide-nsfw .kyselo-gallery img.is-nsfw {
	background-color: lightgrey;
	filter: blur(10px) sepia(1) opacity(0.3);
	-webkit-filter: blur(10px) sepia(1) opacity(0.3);
}

/* TODO: ještě pro IE */

/* NSFW switch */
#kyselo_nsfw_switch .show {
	color: darkgreen;
}

#kyselo_nsfw_switch .hide {
	color: #ccc;
}

.kyselo-hide-nsfw #kyselo_nsfw_switch .hide {
	color: red;
}

.kyselo-hide-nsfw #kyselo_nsfw_switch .show {
	color: #ccc;
}

/* various */
.kyselo-hidden {
		display: none;
}

.kyselo-big-profile {
	padding: 4px;
	box-sizing: border-box;
}

hr {
	border: none;
	border-bottom: 2px solid #ccc;
}

blockquote {
    border-left: 3px solid #ccc;
    -webkit-margin-start: 0;
	margin-left: 0;
    padding-left: 1em;
}

.kyselo-content img {
	max-width: 100%;
}

.kyselo-play-video {
	text-align: center;
	font-size: 6em;
	color: green;
}

@media (max-width: 768px) {
	.kyselo-play-video {
		max-width: 100%;
	}
}

.kyselo-message-text {
	text-decoration: none;
	color: #000;
}

.kyselo-message-text.new {
	font-weight: bold;
}

.kyselo-blockbutton {
	display: block;
	margin-bottom: 0.5em;
	font-size: 125%;
}

.kyselo-post-body a {
	word-break: break-all;
}

.kyselo-subtabs {
	font-size: 70%;
	padding-bottom: 1em;
}

.kyselo-tabs-padding ul {
	padding-left: 152px;
}

@media (max-width: 768px) {
	.kyselo-tabs-padding ul {
		padding-left: 0;
	}
}

/* fixes */
.buttons .dropdown {
	margin-right: 0.5rem;
}

.media-content {
	overflow: visible;
}

@media (max-width: 768px) {
	.image.is-64x64-mobile {
		height: 64px;
	width: 64px;
	}
}

.kyselo-the-end {
	background: rgba(0,0,0, 0);
	background: linear-gradient(0deg, rgba(0,0,0,1) 5%, rgba(0,0,128,0) 100%);
	text-align: center;
}

.kyselo-friendlist {
	max-height: 240px;
	overflow: auto;
}

.kyselo-friend-box {
	display: inline-block;
	width: 64px;
	margin-left: 5px;
}

.kyselo-friend-box span, .kyselo-friend-box img {
	display: inline-block;
}

.kyselo-image {
	max-height: 80vh;
}

.kyselo-image-square {
	max-height: 80vh;
}

.kyselo-friend-box {
	overflow: hidden;
}

.kyselo-friend-box:hover {
	overflow: visible;
}

.kyselo-friend-box:hover span {
	background-color: #363636;
	color: #fff;
	position: relative;
	z-index: 1000;
}

.kyselo-gallery img {
	width: 320px;
}

@media (max-width: 768px) {
	.kyselo-gallery img {
		width: 48vw;
	}
}

/* comment by anchor */
:target {
	font-weight: bold;
}

/* temporary fixes from test */
.kyselo-play-video {
	font-size: 22.5vmin
}
.kyselo-video iframe {
	width: 72vmin;
	height: 54vmin
}

/* to prevent leaks from toooo  long PREs */
.content pre {
	white-space: normal !important;
}
